* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "poppins", "sans-serif";
}
body {
  background-image: url(./images/bg.png);
  background-size: cover;
  background-attachment: fixed;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding-left: 2%;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 85px;
}
.lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  font-family: "Poppins";
  font-size: medium;
  font-style: normal;
  font-weight: 600;
  color: white;
  list-style: none;
  cursor: pointer;
  line-height: 24px;
}
.header-button {
  margin: auto;
  /* padding-right: 7px 28px 7px; */
  background: #ba0cc5;
  border-radius: 3px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.main {
  text-align: center;
}
.heading {
  padding-top: 150px;
  font-family: "poppins";
  font-size: 60px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  max-width: 850px;
  margin: 0 auto;
}
.description {
  font-family: "poppins";
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  max-width: 850px;
  margin: 0 auto;
}
.footer {
  padding: 7px 10px;
  margin: 25px;
  background-color: rgb(239, 7, 193);
  color: white;
  font-weight: 500px;
  border-radius: 6px;
  border: none;
}
